.body {
  font-family: "SF-Pro-Display", sans-serif;
}
.card {
  border: 0px !important;
}

a,
u {
  text-decoration: none;
}

.title {
  margin-top: 3rem;
  text-align: center;
}

body {
  background-color: #393d40 !important;
}

button {
  background-color: #7596bf !important;
}

.header-section {
  --bs-bg-opacity: 0.8;
  max-width: 960px;
  background-color: #5d6368 !important;
  margin: auto;
}

.button-active {
  border-style: solid;
  border: -5rem;
  border-color: yellow;
}

.width-960 {
  max-width: 960px;
  min-width: 310px;
  margin: auto;
}
