.body {
  font-family: "SF-Pro-Display", sans-serif;
}
.card {
  border: 0px !important;
}

a,
u {
  text-decoration: none;
}

.title {
  margin-top: 3rem;
  text-align: center;
}

/* Banner Stylings */
#banner {
  max-width: 100%;
}
#banner_title {
  font-size: 3.5vw;
  font-weight: bold;
  color: white;
}
#banner_sub_title {
  font-size: 2.5vw;
  color: white;
}
#banner_icon_img {
  max-width: 2rem;
}
#advertising {
  font-size: 0.75rem;
}

/* Top3 */
#top3 {
  background-color: rgb(247, 247, 247);
}
.top3_img {
  width: 260px;
  height: 162px;
  object-fit: cover;
}

.top20_img {
  width: 280px;
  height: 207px;
  object-fit: cover;
}

.top20-card-body {
  padding: none !important;
}

@media screen and (max-width: 768px) {
  .top3_img {
    width: 100%;
    height: auto;
    max-height: 300px;
  }

  .top20_img {
    width: 100%;
    height: auto;
  }
}

#advertising_website_link {
  color: white;
}

/* Contact style */
#contact {
  text-align: center;
  background-color: rgb(41, 41, 50);
  height: 24rem;
}
#contact_title {
  /* position: absolute; */
  text-align: center;
  /* top: 45%; */
  /* left: 20%; */
  /* transform: translate(-50%, -90%); */
  max-width: 100%;
  font-size: 32px;
  height: 3rem;
  /* font-size: 5vw; */
  font-family: "Arial", cursive, sans-serif;
  color: white;
}
