.body {
  font-family: "SF-Pro-Display", sans-serif;
}
.card {
  border: 0px !important;
}

a,
u {
  text-decoration: none;
}

.title {
  margin-top: 3rem;
  text-align: center;
}

body {
  background-color: #393d40 !important;
}

button {
  color: #000000 !important;
  background-color: #f9ecc2 !important;
}
.dong-button {
  color: #000000 !important;
  background-color: #f9ecc2 !important;
}

.header-section {
  --bs-bg-opacity: 0.8;
  max-width: 960px;
  background-color: #5d6368 !important;
  margin: auto;
}

.button-active {
  border-style: solid;
  border: -15rem;
  shadow: 4px;
  border-color: orange;
}

.width-960 {
  max-width: 960px;
  min-width: 310px;
  margin: auto;
}
.width-160 {
  max-width: 160px;
  min-width: 90px;
  margin: auto;
}

.dong-form {
  background-color: #696e74 !important;
}
